{% extends 'base.html.twig' %}

{% block title %}Article :
	{{ slug }}
{% endblock %}

{% block body %}

	<div>
		<h1>{{ slug }}!</h1>
		<p class="lead">Welcome to the article page.</p>
	</div>
{% endblock %}
